h1 {
  text-align: center;
  font-size: 2.25em;
  color: #A60000;
  margin-bottom: auto;
}

h2 {
  margin-top: 1.25em;
  font-size: 2em;
  text-align: left;
  color: #A60000;
}

.picture {
  float: right;
  display: flex;
  flex-direction: column;
  width: 40%;
}

sub {
  text-align: left;
  font-size: 1.25em;
  color: #006363
}
body {
  background-color: #FFBF40;
}

.about p {
  text-align: center;
  font-size: 1.25em;
  color: #006363;
}

.projects a {
  font-size: 1.5em;
}

.projects ul {
  color: #006363;
}

.achievements code {
  color: #025167;
}

footer ol{
  list-style-position: inside;
  text-align: center;
  font-size: 1.25em;
  color: #025167;
}