h1 {
  text-align: center;
  font-size: 2.25em;
  color: #A60000;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: #A60000;
}

nav ul {
  background-color: #FF9200;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  flex: auto;
  display: flex;
}

nav a {
  display: flex;
  justify-content: center;
  flex: auto;
}

.picture img {
  display: flex;
  width: 100%
}

.picture{
  float: right;
  display: flex;
  flex-direction: column;
  width: 15%;
}

sub {
  text-align: right;
  font-size: 1.25em;
  color: #006363
}
body {
  background-color: #FFBF40;
}

.name {
  display: flex;
  flex-grow: 1;
  flex: auto;
  flex-direction: column;
  justify-content: space-around;
}

.header{
  background-color: #FF9200;
  display: flex;
  justify-content: space-around;
}

.about p {
  text-align: center;
  font-size: 1.25em;
  color: #006363;
}

.projects a {
  font-size: 1.5em;
}

.projects ul {
  color: #006363;
}

.achievements code {
  color: #025167;
}

footer ol{
  list-style-position: inside;
  text-align: center;
  font-size: 1.25em;
  color: #025167;
}